@tailwind base;
@tailwind components;
@tailwind utilities;

.display {
  @apply flex flex-wrap
}
.task_form {
    @apply bg-gray-100 p-4 m-4 w-60 h-auto p-4 border-2 border-gray-500 rounded-xl text-left space-y-3
}


#form {
  @apply flex flex-wrap
}

#menu {
  @apply min-h-32 w-[30vw] border-gray-500 border-2 rounded-lg m-3 p-3 flex flex-wrap
}

.btn {
  @apply m-2
}

#task_container {
  @apply w-[50vw] min-h-32 border-gray-500 border-2 rounded-lg m-3 p-3 justify-center flex flex-wrap
}

.list_item {
  @apply m-2 p-2
}




/* @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .slide-in {
    animation: scroll 30s linear infinite;
  } */
